# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Chroma database
chroma_db/

# Hugging Face cache
.cache/
*.bin
*.safetensors

# Environment variables
.env

# VS Code
.vscode/
catalog_raw.json
catalog_raw.txt